altgraph==0.17
appdirs==1.4.4
asgiref==3.2.7
astroid==2.4.1
attrs==19.3.0
backcall==0.1.0
bleach==3.1.5
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
coverage==5.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.7
entrypoints==0.3
enum34==1.1.10
filelock==3.0.12
frontera-eficiente==1.0
future==0.18.2
idna==2.9
IMDbPY==6.8
ipykernel==5.3.0
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.17.0
Jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Levenshtein-search==1.4.5
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
numpy==1.18.2
packaging==20.4
pandas==1.0.3
pandas-datareader==0.8.1
pandocfilters==1.4.2
parso==0.7.0
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.1.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
Pygments==2.6.1
PyInstaller==3.6
pylint==2.5.2
pyparsing==2.4.7
PyQt5==5.13.2
PyQt5-sip==12.7.2
PyQt5-stubs==5.14.2.2
pyqt5-tools==5.13.2.1.6rc1
pyrsistent==0.16.0
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2019.3
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==19.0.1
requests==2.23.0
rotten-tomatoes-client==0.0.3
scikit-learn==0.22.2.post1
scipy==1.4.1
selenium==3.141.0
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
splinter==0.13.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
tabulate==0.8.7
terminado==0.8.3
testpath==0.4.4
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
truncate==0.11
urllib3==1.25.8
virtualenv==20.0.20
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
